/* css/style.css */
.table-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #dadada;
}
.table-row {
  display: flex;
  flex-flow: row;
  width: 100%;
}
.header-sub-container {
  display: flex;
  flex-flow: column ;
}
.col-sub-container {
  display: flex;
  flex-flow: row;
  flex: 1;
}
.header-row {
  background-color: #f5f5f5;
  font-weight: bold;
}

.group-header > * {
  font-weight: bold;
  background-color: #b5cbe1;
  /* background-color: (--sapBrandColor); */
}

.row-sub-container {
  display: flex;
  flex-flow: column;
  flex: 1;
}
.row-cell {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.bordered {
  border: 1px solid #dadada;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.zsapMInputBaseContentWrapper {
  min-width: 4.13rem;
  text-align: center;
}

#image-box-1, #image-box-2 {
  border: 1px solid #ccc;
  margin: 0 0.5em;
}
.image {
  max-height: 20em;
  break-inside: avoid;
}
.no-break {
  break-inside: avoid;
}
.footer > div {
  border: 1px solid #dadada;
}

.value-col {
  break-inside: avoid;
}

.label-col {
  break-inside: avoid;
}

.attr-col {
  break-inside: avoid;
}
/* Add more styling as needed */
